# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.env

# -----------------------------
# Django
# -----------------------------
media/
staticfiles/
db.sqlite3
*.log

# -----------------------------
# IDEs / Editors
# -----------------------------
.vscode/
.idea/
*.swp

# -----------------------------
# System files (Windows & macOS)
# -----------------------------
.DS_Store
Thumbs.db
*.lnk
desktop.ini
*.tmp
*.bak
*.old

# -----------------------------
# Windows folders
# -----------------------------
AppData/
Contacts/
Documents/
Downloads/
Favorites/
IntelGraphicsProfiles/
Links/
Music/
Pictures/
Saved Games/
Searches/
Videos/
Local Settings/
NetHood/
PrintHood/
Recent/
SendTo/
Start Menu/
Templates/

# -----------------------------
# OneDrive temp files
# -----------------------------
~$*

# -----------------------------
# Pytest / testing
# -----------------------------
.pytest_cache/
